
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>

<body>
	<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>

<!-- Start of header section
	============================================= -->
	<header id="header-wrap" class="main-header header-style-one">
		<div class="container">
			<div class="main-header-wrap clearfix">
				<div class="brand-logo float-left">
					<a href="#"><img src="/img/logo/logo1.png" alt=""></a>
				</div>
				<div class="header-main-menu float-right">
					<nav class="main-navigation ul-li d-inline-block">
						<ul id="main-nav" class="navbar-nav text-capitalize clearfix">
							<li class="dropdown">
								<a href="#">Home</a>
								<ul class="dropdown-menu ul-li-block clearfix">
									<li><a target="_blank" href="index-2.html">Home Page 1</a></li>
									<li><a target="_blank" href="index-3.html">Home Page 2</a></li>
									<li><a target="_blank" href="index-4.html">Home Page 3</a></li>
									<li><a target="_blank" href="home-dark.html">Home Page 4</a></li>
								</ul>
							</li>
							<li><a href="chefs.html">chefs</a></li>
							<li><a href="shop.html">Shop</a></li>
							<li class="dropdown">
								<a href="#">Blog</a>
								<ul class="dropdown-menu ul-li-block clearfix">
									<li><a target="_blank" href="blog.html">Blog Page</a></li>
									<li><a target="_blank" href="blog-single.html">Blog Details</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="fd-book-btn text-center float-right">
						<a href="booking.html">Book a Table</a>
					</div>
				</div>
				<!-- /desktop-menu -->
				<div class="mobile_menu relative-position">
					<div class="mobile_menu_button open_mobile_menu">
						<i class="fas fa-bars"></i>
					</div>
					<div class="mobile_menu_wrap">
						<div class="mobile_menu_overlay open_mobile_menu"></div>
						<div class="mobile_menu_content">
							<div class="mobile_menu_close open_mobile_menu">
								<img src="/img/logo/cls.png" alt="">
							</div>
							<div class="m-brand-logo text-center">
								<a href="%21.html#"><img src="/img/logo/logo1.png" alt=""></a>
							</div>
							<nav class="mobile-main-navigation  clearfix ul-li">
								<ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
									<li class="dropdown">
										<a href="#">Home</a>
										<ul class="dropdown-menu ul-li-block clearfix">
											<li><a target="_blank" href="index-2.html">Home Page 1</a></li>
											<li><a target="_blank" href="index-3.html">Home Page 2</a></li>
											<li><a target="_blank" href="index-4.html">Home Page 3</a></li>
											<li><a target="_blank" href="home-dark.html">Home Page 4</a></li>
										</ul>
									</li>
									<li><a href="chefs.html">chefs</a></li>
									<li><a href="shop.html">Shop</a></li>
									<li class="dropdown">
										<a href="#">Blog</a>
										<ul class="dropdown-menu ul-li-block clearfix">
											<li><a target="_blank" href="blog.html">Blog Page</a></li>
											<li><a target="_blank" href="blog-single.html">Blog Details</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							<div class="fd-book-btn text-center">
								<a href="booking.html">Book a Table</a>
							</div>
						</div>
					</div>
					<!-- /mobile-menu -->
				</div>
			</div>
		</div>
	</header>
<!-- End of header section
	============================================= -->

<!-- Start of slider section
	============================================= -->	
	<section id="slider-area" class="slider-section-area slider-style-one position-relative">
		<div id="slider-wrapper" class="slider-content-wrap">
			<div class="slider-layer-item position-relative slider-type-one">
				<div class="slider-main-img img-zooming" data-background="/img/slider/s1.jpg"></div>
				<div class="container">
					<div class="slider-text-innerbox headline pera-content">
						<h1>Nations and culture, Food place.</h1>
						<p>Cuizela is a web platform to sougtht delightful cuisines of different culture
							whether it local or intercontinental dishes, cuisela is your one-stop platform to find them.
						</p>
						<a class="fodige-btn-hover" data-toggle="modal" data-target="#exampleModal" href="%21.html#">Book A Table</a>
					</div>
				</div>
			</div>
			<div class="slider-layer-item position-relative slider-type-two">
				<div class="slider-main-img img-zooming" data-background="/img/slider/s2.jpg"></div>
				<div class="container">
					<div class="slider-text-innerbox text-center headline pera-content">
						<h1>A life full of celebration.</h1>
						<p>There are some things money can't buy. For everything else, there's MasterCard. You deserve a break today. Wake up with the King. The flavors of nature Just wow!</p>
						<a class="fodige-btn-hover" data-toggle="modal" data-target="#exampleModal" href="%21.html#">Book A Table</a>
					</div>
				</div>
			</div>
			<div class="slider-layer-item position-relative slider-type-three">
				<div class="slider-main-img img-zooming" data-background="/img/slider/s3.jpg"></div>
				<div class="container">
					<div class="slider-text-innerbox  headline pera-content">
						<h1>Trendy Food, 
						Trendy Moments.</h1>
						<a class="fodige-btn-hover" data-toggle="modal" data-target="#exampleModal" href="%21.html#">Book A Table</a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-bottom-contact">
			<div class="container">
				<div class="siider-bottom-content">
					<div class="row">
						<div class="col-lg-7">
							<div class="s-bottom-cta float-left">
								<a href="#"><i class="fas fa-phone"></i> <span>+91 254 785 587</span></a>
								<a href="#"><i class="far fa-envelope"></i> <span>fodige@info.com</span></a>
							</div>
							<div class="s-bottom-social float-right">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Slider section
	============================================= -->

<!-- Start of About section
	============================================= -->		
	<section id="about" class="about-section position-relative">
		<div class="container">
			<div class="about-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="about-img-left position-relative">
							<div class="about-radius-img">
								<img src="/img/about/ab1.jpg" alt="">
							</div>
							<div class="about-circel-img wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="/img/about/ab2.png" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="about-right-text">
							<div class="section-title headline">
								<h2>Tasty and diverse</h2>
							</div>
							<div class="about-text-area pera-content">
								<p>Variety they say is the spice of life; speaking of spice
									and the excitement that comes when our are taste buds filled 
									good and delicious meals, we want to live in the moment forever.
								</p>
								<p>Cuisela is your place to find nurishing and exciting dishes of 
									diverse cultures and countries, with cuisela you can find dishes 
									of different countries should in case you visit, you've 
									got something to try.
								</p>
							</div>
							<div class="about-fun-fact">
								<div class="ab-fun-fact-item position-relative headline">
									<h3>5</h3>
									<span>Continents</span>
								</div>
								<div class="ab-fun-fact-item position-relative headline">
									<h3>9</h3>
									<span>Countries</span>
								</div>
								<div class="ab-fun-fact-item position-relative headline">
									<h3>12</h3>
									<span>Total Dishes</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of About section
	============================================= -->

<!-- Start of Special Package section
	============================================= -->			

<!-- End of Special Package section
	============================================= -->

<!-- Start of Foodige Menu section
	============================================= -->
	<section id="foodige-menu" class="foodige-menu-section">
		<div class="container">
			<div class="fooige-menu-content">
				<div class="section-title headline">
					<h2>Foodige Menu</h2>
				</div>
				<div class="foodige-menu-tab">
					<div class="custom_tab_button  clearfix ul-li">
						<ul id="tabs" class="nav text-uppercase nav-tabs">
							<li class="nav-item"><a href="#" data-target="#brakfast" data-toggle="tab" class="nav-link text-capitalize active"><i class="flaticon-breakfast"></i><span>Hot <br>
							Breakfast</span>  </a></li>
							<li class="nav-item"><a href="#" data-target="#lunch" data-toggle="tab" class="nav-link text-capitalize"><i class="flaticon-breakfast-1"></i><span>Special <br>
							Menu Lunch</span> </a></li>
							<li class="nav-item"><a href="#" data-target="#evening" data-toggle="tab" class="nav-link text-capitalize"><i class="flaticon-diet"></i><span>Evening <br>
							item</span></a></li>
							<li class="nav-item"><a href="#" data-target="#dinner" data-toggle="tab" class="nav-link text-capitalize"><i class="flaticon-fast-food"></i><span>Special <br>
							Dinner</span></a></li>
						</ul>
					</div>
					<!-- /tab button -->
					<div id="tabsContent" class="tab-content">
						<div id="brakfast" class="tab-pane fade active show">
							<div class="food-menu-area clearfix">
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd1.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd2.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd3.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd4.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd5.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd6.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd7.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="more-food-btn text-center">
										<a href="#">View More</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /tab-content -->
						<div id="lunch" class="tab-pane fade">
							<div class="food-menu-area clearfix">
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd2.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd1.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd4.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd3.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd4.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd5.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd7.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="more-food-btn text-center">
										<a href="#">View More</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /tab-content -->
						<div id="evening" class="tab-pane fade">
							<div class="food-menu-area clearfix">
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd1.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd2.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd3.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd4.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd5.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd6.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd7.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="more-food-btn text-center">
										<a href="#">View More</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /tab-content -->
						<div id="dinner" class="tab-pane fade">
							<div class="food-menu-area clearfix">
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd1.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd2.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd3.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd4.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd5.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd6.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="food-item-img position-relative">
										<img src="/img/food/fd7.jpg" alt="">
									</div>
									<div class="food-item-text headline text-center pera-content">
										<h3>$35</h3>
										<p>Philadelphia salmon</p>
										<a href="#">Order now</a>
									</div>
								</div>
								<div class="foodige-food-item position-relative">
									<div class="more-food-btn text-center">
										<a href="#">View More</a>
									</div>
								</div>
							</div>
						</div>
						<!-- /tab-content -->
					</div>

				</div>
			</div>
		</div>
	</section>
<!-- End of Foodige Menu section
	============================================= -->	

<!-- Start of Testimonial section
	============================================= -->
	<section id="testimonial" class="testimonial-section position-relative">
		<div class="container">
			<div class="testimonial-content">
				<div id="testimonial-id" class="testimonial-slider-area owl-carousel">
					<div class="testimonial-inner-item">
						<div class="testimonial-img-area position-relative float-left">
							<span class="testimonial-img-bg"></span>
							<img src="/img/testimonial/tst1.jpg" alt="">
							<div class="testimonial-review text-center">
								<span>Total Review</span>
								<strong>213</strong>
							</div>
						</div>
						<div class="testimonial-inner-text headline pera-content">
							<h2>Customers love</h2>
							<p>If you want a successful online business these days, it's not enough to simply close the sale. You've got to help your customers fall in love with your business.</p>
							<div class="testimonial-author headline">
								<h3>Mike Colliens</h3>
								<p>CEO at ITBAR</p>
							</div>
						</div>
					</div>
					<div class="testimonial-inner-item">
						<div class="testimonial-img-area position-relative float-left">
							<span class="testimonial-img-bg"></span>
							<img src="/img/testimonial/tst1.jpg" alt="">
							<div class="testimonial-review text-center">
								<span>Total Review</span>
								<strong>213</strong>
							</div>
						</div>
						<div class="testimonial-inner-text headline pera-content">
							<h2>Customers love</h2>
							<p>If you want a successful online business these days, it's not enough to simply close the sale. You've got to help your customers fall in love with your business.</p>
							<div class="testimonial-author headline">
								<h3>Mike Colliens</h3>
								<p>CEO at ITBAR</p>
							</div>
						</div>
					</div>
					<div class="testimonial-inner-item">
						<div class="testimonial-img-area position-relative float-left">
							<span class="testimonial-img-bg"></span>
							<img src="/img/testimonial/tst1.jpg" alt="">
							<div class="testimonial-review text-center">
								<span>Total Review</span>
								<strong>213</strong>
							</div>
						</div>
						<div class="testimonial-inner-text headline pera-content">
							<h2>Customers love</h2>
							<p>If you want a successful online business these days, it's not enough to simply close the sale. You've got to help your customers fall in love with your business.</p>
							<div class="testimonial-author headline">
								<h3>Mike Colliens</h3>
								<p>CEO at ITBAR</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonial-bottom-img1 position-absolute" data-parallax='{"x" : -70}'><img src="/img/testimonial/tbg2.png" alt=""></div>
		<div class="testimonial-bottom-img2 position-absolute" data-parallax='{"x" : 70}'><img src="/img/testimonial/tbg1.png" alt=""></div>
	</section>
<!-- End of Testimonial  section
	============================================= -->	

<!-- Start of book table section
	============================================= -->
	

	<section id="blog" class="blog-section">
		<div class="container">
			<div class="section-title text-center headline">
				<h2>Latest Recipes</h2>
			</div>
			<div class="blog-area-content">
				<div class="row">
					<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="blog-img-text clearfix">
							<div class="blog-img float-left">
								<img src="/img/blog/asian.jpeg" style="width:270px !important; height:473px !important" alt="">
							</div>
							<div class="blog-text headline pera-content">
								<h3><a href="#">Delightful Asian meal</a></h3>
								<p>
								Discover the best meals around the Asian continent 	
								</p>
								<div class="b-more-btn">
									<a href="#">Explore</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="blog-img-text clearfix">
							<div class="blog-img float-left">
								<img src="/img/blog/south-america.jpeg" style="width:270px !important; height:473px !important" alt="">
							</div>
							<div class="blog-text headline pera-content">
								<h3><a href="#">
									Nature delight's of Africa
									</a></h3>
								<p>Africa has the best you wont want 
									to leave out </p>
								<div class="b-more-btn">
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
				

					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="blog-img-text clearfix">
								<div class="blog-img float-left">
									<img src="/img/blog/africa.jpeg" style="width:270px !important; height:473px !important" alt="">
								</div>
								<div class="blog-text headline pera-content">
									<h3><a href="#">
									Tasty Latin America
								</a></h3>
									<p> Get your taste buds excited with 
										delicious meals of Latin America
									</p>
									<div class="b-more-btn">
										<a href="#">Read More</a>
									</div>
								</div>
							</div>
						</div>
				
						
						<div class="col-lg-6 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="blog-img-text clearfix">
									<div class="blog-img float-left">
										<img src="/img/blog/europe.jpeg" style="width:270px !important; height:473px !important" alt="">
									</div>
									<div class="blog-text headline pera-content">
										<h3><a href="#">
									Abode of the master chefs	
										</a></h3>
										<p>
											Enjoy the worlds best cuiines from Europe
										</p>
										<div class="b-more-btn">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
						
				</div>
			</div>
		</div>
	</section>				
<!-- End of Blog section
	============================================= -->

<!-- Start of Footer section
	============================================= -->	
	<section id="footer-area" class="footer-section">
	
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="footer-widget-area">
							<div class="f-logo-widget pera-content">
								<div class="footer-logo">
									<a href="#"><img src="/img/logo/f-logo1.png" alt=""></a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
								<span class="copy-right-text">© 2020 All rights reserved, Design & Developed by JThemes Studio</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="footer-widget-area">
							<div class="footer-contact-area headline pera-content">
								<h3 class="widget-title">Contact</h3>
								<div class="f-office-icon-text">
									<div class="f-office-icon float-left">
										<i class="fas fa-phone"></i>
									</div>
									<p>+91 254 785 587</p>
								</div>
								<div class="f-office-icon-text">
									<div class="f-office-icon float-left">
										<i class="fas fa-envelope"></i>
									</div>
									<p>educate@info.com</p>
								</div>
								<div class="f-office-icon-text">
									<div class="f-office-icon float-left">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<p>121 king street, Melbourne,
									Australia</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="footer-widget-area">
							<div class="footer-contact-area headline pera-content">
								<h3 class="widget-title">Opening</h3>
								<div class="opening-hour-area">
									<span>Monday - Saturday</span>
									<span>09 AM - 09 PM</span>
								</div>
								<div class="opening-hour-area">
									<span>Monday - Saturday</span>
									<span>09 AM - 09 PM</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Footer section
	============================================= -->	


	<!-- PopUp -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel text-center">Book Your Table</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="#" method="POST">
					<div class="modal-body">
						<input type="text" name="name" placeholder="Your Full Name">
						<input type="text" name="phone" placeholder="Your Phone Number">
						<input type="email" name="email" placeholder="Your Mail Address">
						<input type="text" name="number" placeholder="Number of Guest">

					</div>
					<div class="modal-footer">
						<button type="submit">Book Now</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- For Js Library -->

    <%- include("./partials/footer.ejs") -%>

</body>

</html>	